<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">ASP.NET</h1>
    </section>
    <div class="row">

        <button id="runTest" class="btn btn-danger">Test 2FA</button>

        <pre><code id="testResult"></code></pre>

    </div>
</main>

@section scripts {
    <script>
        $(function ($) {
            $("#runTest").on("click", function (event) {
                $.get({
                    url: "/2fa/test",
                    success: function (data) {
                        var stringContent = typeof data === "string" ? data : JSON.stringify(data);

                        stringContent = "Status: 200\n\n" + stringContent;

                        $("#testResult").text(stringContent);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        var stringContent = "Status: " + textStatus + " Error: " + errorThrown + "\nResponse Text: " + jqXHR.responseText;

                        $("#testResult").text(stringContent);
                    }
                });
            })
        });
    </script>
}